[submodule "thirdparty/zplug"]
	path = thirdparty/zplug
	url = https://github.com/zplug/zplug.git
[submodule "thirdparty/teiler"]
	path = thirdparty/teiler
	url = https://github.com/carnager/teiler.git
[submodule "thirdparty/asdf"]
	path = thirdparty/asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule ".config/ranger/plugins/zoxide"]
	path = .config/ranger/plugins/zoxide
	url = git@github.com:jchook/ranger-zoxide.git
[submodule ".obydots/dracula/kitty"]
	path = .obydots/dracula/kitty
	url = git@github.com:dracula/kitty.git
[submodule ".obydots/dracula/rofi"]
	path = .obydots/dracula/rofi
	url = git@github.com:dracula/rofi.git
[submodule ".obydots/dracula/gtk"]
	path = .obydots/dracula/gtk
	url = git@github.com:dracula/gtk.git
[submodule ".obydots/dracula/telegram"]
	path = .obydots/dracula/telegram
	url = git@github.com:dracula/telegram.git
[submodule ".obydots/dracula/godot"]
	path = .obydots/dracula/godot
	url = https://github.com/dracula/godot.git
[submodule ".obydots/dracula/eclipse"]
	path = .obydots/dracula/eclipse
	url = https://github.com/dracula/eclipse.git
[submodule ".obydots/dracula/wallpaper"]
	path = .obydots/dracula/wallpaper
	url = git@github.com:dracula/wallpaper.git
[submodule ".config/kak/plugins/plug.kak"]
	path = .config/kak/plugins/plug.kak
	url = https://github.com/andreyorst/plug.kak.git
